En aquest notebook, calcularem les variables que ens interessen per la visualització a Tableau, i de la mateixa manera, crearem una columna amb el nom Indicador els valors dels quals seràn l'atribut d'indicador per mostrar, i una altre columna amb el valor a mostrar, per tal de no tenir cada variable en una columna diferent.

In [2]:
import pandas as pd

#Carreguem l'arxiu
df = pd.read_excel('../Data_cleaning/def_dataset/gent_vars_bcn.xlsx')
print(df.head())

   Codi_Barri   Any Nom_Barri  Superfície (ha)  Poblacio_total  \
0           1  2015  el Raval            109.8           46843
1           1  2016  el Raval            109.8           46871
2           1  2017  el Raval            109.8           47561
3           1  2018  el Raval            110.0           47169
4           1  2019  el Raval            110.0           47882

   Poblacio_20_40  Poblacio_sense_estudis  Poblacio_univ  Poblacio_20_40_univ  \
0           18563                    2539           8717                 5187
1           18391                     973           9290                 5524
2           18782                     863          10015                 6065
3           18568                     753          10560                 6428
4           19077                     661          11155                 6819

   renda_mitjana  ...  Teatres_espectacles  Museus  Parcs  \
0    8507.809524  ...                    3       4      0
1    8738.095238  ...                    3       4      0
2    9189.904762  ...                    3       4      0
3    9494.380952  ...                    3       4      0
4    9913.095238  ...                    3       4      0

   Punts_interes_turistic  Assistents_cultura  Espais_participacio  \
0                      34           2263297.0                   10
1                      34           2199529.0                   10
2                      37           2166138.0                   10
3                      37           2280435.0                   11
4                      37           2298868.0                   11

   Max_soroll  Avg_soroll  Max_aforament  Avg_aforament
0        93.0   63.235959            NaN            NaN
1        89.1   63.546402            NaN            NaN
2        85.9   63.258872        48102.0   16791.502814
3        91.8   63.413147        41269.0   11907.536733
4        87.6   63.123314        51544.0   12655.393706

[5 rows x 39 columns]

In [3]:
#Extraiem el nom de les columnes
df.columns

Index(['Codi_Barri', 'Any', 'Nom_Barri', 'Superfície (ha)', 'Poblacio_total',
       'Poblacio_20_40', 'Poblacio_sense_estudis', 'Poblacio_univ',
       'Poblacio_20_40_univ', 'renda_mitjana', 'renda_Gini',
       'Total_arribats_BCN', 'Total_arribats_BCN_inc_renda',
       'Total_marxen_barri_BCN', 'Total_marxen_fora_BCN', 'Total_expulsats',
       'poblacio_immigrant', 'poblacio_IDH_sup', 'poblacio_IDH_inf',
       'total_viuen_sols', 'Contractes', 'Preu_lloguer', 'Edat_mitj_edif',
       'Allotjaments', 'Total_comercos', 'Comercos_quotidians', 'Restaurants',
       'Taules_terrasses', 'Oci_nocturn', 'Teatres_espectacles', 'Museus',
       'Parcs', 'Punts_interes_turistic', 'Assistents_cultura',
       'Espais_participacio', 'Max_soroll', 'Avg_soroll', 'Max_aforament',
       'Avg_aforament'],
      dtype='object')

In [4]:
#Canviem la mesura superfície a km2
df['Superfície (ha)'] = df['Superfície (ha)']/100
#Reanomenem la variable
df = df.rename(columns = {'Superfície (ha)': 'Superficie (km2)'})

#Calculem les variables relatives i les noves. Les relatives les passem a percentatge (cas de població o emigració), o a equipaments per km2, com restaurants
df['Poblacio_sense_estudis'] = df['Poblacio_sense_estudis']/df['Poblacio_total']*100
df['Poblacio_univ'] = df['Poblacio_univ']/df['Poblacio_total']*100
df['Poblacio_20_40_univ_relatiu'] = df['Poblacio_20_40_univ']/df['Poblacio_20_40']*100
df['Poblacio_20_40_univ_global'] = df['Poblacio_20_40_univ']/df['Poblacio_total']*100
df['Poblacio_20_40'] = df['Poblacio_20_40']/df['Poblacio_total']*100
df['Total_arribats_BCN_inc_renda'] = df['Total_arribats_BCN_inc_renda']/df['Total_arribats_BCN']*100
df['Total_marxen'] = df['Total_marxen_barri_BCN'] + df['Total_marxen_fora_BCN']
df['Total_marxen_fora_BCN'] = df['Total_marxen_fora_BCN']/df['Total_marxen']*100
df['Total_expulsats'] = df['Total_expulsats']/df['Total_marxen']*100
df['Saldo_migratori'] = df['Total_arribats_BCN']-df['Total_marxen']
df['poblacio_immigrant'] = df['poblacio_immigrant']/df['Poblacio_total']*100
df['poblacio_IDH_sup'] = df['poblacio_IDH_sup']/df['Poblacio_total']*100
df['poblacio_IDH_inf'] = df['poblacio_IDH_inf']/df['Poblacio_total']*100
df['total_viuen_sols'] = df['total_viuen_sols']/df['Poblacio_total']*100
df['Allotjaments'] = df['Allotjaments']/df['Superficie (km2)']
df['Restaurants'] = df['Restaurants']/df['Superficie (km2)']
df['Taules_terrasses'] = df['Taules_terrasses']/df['Superficie (km2)']
df['Oci_nocturn'] = df['Oci_nocturn']/df['Superficie (km2)']
df['Teatres_espectacles'] = df['Teatres_espectacles']/df['Superficie (km2)']
df['Museus'] = df['Museus']/df['Superficie (km2)']
df['Parcs'] = df['Parcs']/df['Superficie (km2)']
df['Punts_interes_turistic'] = df['Punts_interes_turistic']/df['Superficie (km2)']
df['Comercos_quotidians'] = df['Comercos_quotidians']/df['Total_comercos']*100
df['Max_aforament'] = df['Max_aforament']/df['Superficie (km2)']
df['Avg_aforament'] = df['Avg_aforament']/df['Superficie (km2)']

#Reanomenem algunes de les variables per a què siguin més identificatives
df = df.rename(columns = {'Poblacio_20_40_univ_relatiu': 'Universitaris_20_40_relatiu',
                          'Poblacio_20_40_univ_global': 'Universitaris_20_40_total',
                          'Total_arribats_BCN_inc_renda': 'Immigrants_inc_renda', 
                          'Total_marxen': 'Emigrants',
                          'Total_marxen_fora_BCN': 'Emigrants_fora_BCN',
                          'Total_expulsats': 'Emigrants_Africa_Asia',
                          'total_viuen_sols': 'Empadronats_sols',
                          'Contractes': 'Contractes_lloguer'
                         }
              )

#Escollim i reordenem les variables que necessitem
columns = ['Codi_Barri', 'Nom_Barri', 'Any', 'Superficie (km2)', 'Poblacio_total', 'Poblacio_sense_estudis', 'Poblacio_univ',
           'Poblacio_20_40', 'Universitaris_20_40_relatiu', 'Universitaris_20_40_total', 'renda_mitjana', 'renda_Gini',
           'Saldo_migratori', 'poblacio_immigrant', 'Emigrants', 'Emigrants_fora_BCN', 'Emigrants_Africa_Asia', 'Immigrants_inc_renda',
           'poblacio_IDH_sup', 'poblacio_IDH_inf', 'Empadronats_sols', 'Contractes_lloguer', 'Preu_lloguer','Total_comercos', 
           'Comercos_quotidians', 'Restaurants', 'Taules_terrasses', 'Allotjaments', 'Oci_nocturn' ,'Teatres_espectacles',
           'Museus', 'Parcs', 'Punts_interes_turistic', 'Assistents_cultura', 'Espais_participacio', 'Max_soroll', 'Avg_soroll',
           'Max_aforament', 'Avg_aforament']

df = df[columns]
df.head()

,Codi_Barri,Nom_Barri,Any,Superficie (km2),Poblacio_total,Poblacio_sense_estudis,Poblacio_univ,Poblacio_20_40,Universitaris_20_40_relatiu,Universitaris_20_40_total,...,Teatres_espectacles,Museus,Parcs,Punts_interes_turistic,Assistents_cultura,Espais_participacio,Max_soroll,Avg_soroll,Max_aforament,Avg_aforament
0,1,el Raval,2015,1.098,46843,5.420234,18.608970,39.628119,27.942682,11.073159,...,2.732240,3.642987,0.0,30.965392,2263297.0,10,93.0,63.235959,NaN,NaN
1,1,el Raval,2016,1.098,46871,2.075910,19.820358,39.237482,30.036431,11.785539,...,2.732240,3.642987,0.0,30.965392,2199529.0,10,89.1,63.546402,NaN,NaN
2,1,el Raval,2017,1.098,47561,1.814512,21.057169,39.490339,32.291556,12.752045,...,2.732240,3.642987,0.0,33.697632,2166138.0,10,85.9,63.258872,43808.743169,15292.807663
3,1,el Raval,2018,1.100,47169,1.596387,22.387585,39.364837,34.618699,13.627594,...,2.727273,3.636364,0.0,33.636364,2280435.0,11,91.8,63.413147,37517.272727,10825.033394
4,1,el Raval,2019,1.100,47882,1.380477,23.296855,39.841694,35.744614,14.241260,...,2.727273,3.636364,0.0,33.636364,2298868.0,11,87.6,63.123314,46858.181818,11504.903369

In [5]:
#Hem de convertir les columnes corresponents al valor d'indicador que cada filera contingui el valor d'un sol indicador per l'any corresponent
df = pd.melt(df, id_vars=['Codi_Barri', 'Nom_Barri', 'Any', 'Superficie (km2)'], var_name='Indicador', value_name='Valor')
df.head()

   Codi_Barri Nom_Barri   Any  Superficie (km2)       Indicador    Valor
0           1  el Raval  2015             1.098  Poblacio_total  46843.0
1           1  el Raval  2016             1.098  Poblacio_total  46871.0
2           1  el Raval  2017             1.098  Poblacio_total  47561.0
3           1  el Raval  2018             1.100  Poblacio_total  47169.0
4           1  el Raval  2019             1.100  Poblacio_total  47882.0

In [6]:
#Exportem finalment el dataset
df.to_excel("../Data_cleaning/def_dataset/bcnGentTableau.xlsx", index=False)